.plugin-description {
  height: 100%;
  width: 400px;
  background: #434A54;
  position: fixed;
  top: 60px;
  right: 0;
  padding: 0.5em 2em;
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
  transform: translateX(400px);
  transition: transform 250ms ease-in-out;

  h2 {
    display: flex;
    justify-content: space-between;
  }

  p {
    font-size: 11px;
    font-weight: 400;

    code {
      color: #ff9900;
      border: 1px solid #545B64;
      border-radius: 4px;
      padding: 1px 2px;
      line-height: 14px;
    }
  }

  li {
    font-size: 10px;
  }
}
.plugin-desc-animation {
  transform: translateX(0px);
}
