.battery-details {
  position: fixed;
  right: -100%;
  top: 60px;
  width: 25em;
  display: flex;
  flex-direction: column;
  margin-right: 2em;
  height: calc(100% - 60px);
  background: #434A54;
  z-index: 100;
  transition: all 0.5s linear;
  box-shadow: 0 4px 16px #000;
  padding: 1em;

  .metrics-group {
    margin: 12px 0;

    h6 {
      margin: 0;
    }

    span {
      font-size: 18px;
    }
  }

  .qr-code {
    margin-top: 2em;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .close-panel {
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
}

.visible {
  right: -35px;
}